body {
  color: black;
  font-family: Garamond;
}

.shadow-box {
  margin-left: 5ex;
  margin-top: 5ex;
  margin-bottom: 5ex;
  margin-right: 5ex;
  border: black 1px solid;
  box-shadow: 5px 5px 10px;
}

.regular-box {
  margin-left: 5ex;
  margin-top: 5ex;
  margin-bottom: 5ex;
  margin-right: 5ex;
  border: black 1px solid;
}

#local {
  margin-left: 1ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-right: 1ex;
  border: black 1px dashed;
}

#net {
  margin-left: 1ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-right: 1ex;
  border: blueviolet 1px dashed;
}

.words-container {
  margin-left: 2.5ex;
  margin-top:  2.5ex;
  margin-right: 2.5ex;
  margin-bottom: 2.5ex;
}